.main-sidebar {
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  background-color: var(--bg-color); /* light background */
  color: #333333; /* light text */
}

/* Links container */
.main-sidebar-links {
  background-color: inherit; /* inherit from sidebar */
  color: inherit;
  transition: background-color 0.3s, color 0.3s;
}

.main-sidebar-links{
    background-color: rgba(17, 46, 78, 1);
    color:rgba(255, 255, 255, 1);
} 


.main-sidebar-links i,.span-1{
    color:rgba(255, 255, 255, 1);
    font-size:16px
}

.main-sidebar-links .span-2{
    color: rgba(255, 255, 255, 0.7);
}

.main-sidebar-links a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.main-sidebar-progressBar{
    background-color: light;
    border: 1px white;
}

.sidebar-close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  color: #000; /* Change as needed */
}

.sidebar-close-icon:hover {
  color: #007bff; /* Optional hover effect */
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 0;
  margin: 0;
  height: auto;
  line-height: 1;
  z-index: 1100;
}

.sidebar-close-icon {
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  color: #000;
  display: inline-block;
  line-height: 1;
}

.dashboard-sidebar-logo{
  width: 120px;
  height: 63px;
}

.dashboard-sidebar-container{
  padding-top: 25px;
  padding-bottom: 24px;
}

.storage-link small{
  color:rgba(255, 255, 255, 1);
}