

.inbox-component-image{
    background-color:  var(--color-primary);
    color: var(--color-surface-base);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
}  

.type{
    border: 0.91px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 22px;
}

.priority{
    background-color:  rgba(212, 24, 61, 1);
    border-radius: 10px;
    color: var(--color-surface-base);
}

.small-dot{
    font-size: 8px;
}