


/* .sidebar-main-div{
    max-width: 300px;
    padding-top: 32px;
    padding-bottom: 50px;
    padding-left: 28px;
    padding-right: 28px;
    border: rgba(255, 255, 255, 1);
    border: rgba(229, 231, 235, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-top i{
    height: 2px;
    color: rgba(142, 81, 255, 1);
}

.sidebar-top-p1{
    color:black
}

.sidebar-top-p2{
    color:rgba(106, 114, 130, 1)
}

li:hover {
  background-color: rgba(17, 46, 78, 1); 
  color: white !important;
  border-radius: 10%;
}
li a:hover{
    color: white !important;
}

.sidebar-h5:hover{
    color: white ;
}

#card-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 16px;    
}




.sidebar-h5{
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

sidebar-para-2{
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
}
 */

.sidebar-subtitle {
  font-size: 0.75rem; /* controlled size */
  color: #6b7280;
}
