:root {

  /*Calender Notes People Tasks New Letters*/
  --primary-color: rgba(17, 46, 78, 1);
  --text-color-1: rgba(113, 113, 130, 1);
  --text-color2: rgba(10, 10, 10, 1);
  --buttton-text:rgba(255, 255, 255, 1);

  /*Page Navbar*/

  --bg-navbar-page: linear-gradient(180deg, #112E4E 0%, #1E3A5F 100%);
  

  --text-navbar-page: rgba(255, 255, 255, 1);
  --text-navbar-page: rgba(255, 255, 255, 0.8);

  --border-image-container-page: rgba(255, 255, 255, 0.2);

  --button-text-page: rgba(17, 46, 78, 1);

  --mytasks-navtabs-background: rgba(236, 236, 240, 1);

}




