.security-settings{
    border-left: 3.62px solid rgba(0, 201, 80, 1)
}

.security-settings__header{
    background-color: rgba(240, 253, 246, 1);
    border-bottom: 1px solid rgba(187, 240, 210, 1)
}

.security-settings__header h5{
    color: rgba(0, 92, 36, 1)
}

.security-settings__header small {
  color: rgba(0, 140, 56, 1);
}

.security-settings__header i {
  color: rgba(0, 158, 63, 1);
}